* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3 {
  font-family: sans-serif;
  font-weight: bolder;
  color: black;
}

a:link {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:visited {
    text-decoration: none;
    color: black;
    font-weight: bolder;

}

.mainheader {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #e9fff9;
}

.navbar
{
    font-family: sans-serif;
}

nav a:link {
      margin-right: 30px;   
}
  
nav a:link:last-child {
    margin-right: 50px;
}
  
.about
{
    display: flex;
    background-color: #9ed8db;
    height: 500px;
}

.el-about {
    margin-top: 50px;
    margin-left: 50px;
    height: 400px;
    width: 400px;
    background-color: #467599
}

.portfolio
{
    display: flex;
    background-color: #467599;
    height: 500px;

}

.el-portfolio {
    margin-top: 50px;
    margin-left: 50px;
    height: 400px;
    width: 400px;
    background-color: #9ed8db
}

ul {
    list-style: none;
    font-family: sans-serif;
    margin-left: 20px;
}

.contact
{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #e9fff9;
    height: 100px;
    padding: 20px;

}
