* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
  font-family: sans-serif;
  font-weight: bolder;
  color: black;
}

a:link {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:visited {
    text-decoration: none;
    color: black;
    font-weight: bolder;

}

.about
{
    background-color: #9ed8db;
    height: 500px;
}

.portfolio
{
    background-color: #467599;
    height: 500px;

}

.contact
{
    background-color: #e9fff9;
    height: 100px;
    padding: 20px;

}

.navbar
{
    background-color: #d64045;
    font-family: sans-serif;
}