* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
  font-family: sans-serif;
  font-weight: bolder;
  color: #cccdf3;
}

a:link {
  text-decoration: none;
  color: #cccdf3;
  font-weight: bolder;
}

a:visited {
  text-decoration: none;
  color: #cccdf3;
  font-weight: bolder;
}

.mainheader {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background: #2f303a;
}

.navbar {
  font-family: sans-serif;
}

nav a:link {
  margin-right: 30px;
}

nav a:link:last-child {
  margin-right: 50px;
}

#about {
  background: #201d1d;
  padding-left: 10px;
}

.about {
  display: flex;
  background: #201d1d;
  height: 300px;
}

.el-about {
  flex-basis: 200px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  background-color: #2f303a;
  border-radius: 2px;
  /*box-shadow: 1px 1px 5px #505050*/
}

#portfolio {
  background: #201d1d;

  padding-left: 10px;
}

.portfolio {
  display: flex;
  background: #201d1d;
  height: 300px;
}

.el-portfolio {
  flex-basis: 200px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;

  height: 250px;
  background-color: #2f303a;
  border-radius: 2px;
  /*box-shadow: 1px 0px 3px #505050*/
}

ul {
  list-style: none;
  font-family: sans-serif;
  margin-left: 40px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2f303a;

  height: 100px;
  padding: 20px;
}

.skill {
  margin-left: 20px;
  margin-bottom: 5px;
}

.welcome {
  margin-left: 10px;
}
